.what {
	background-color: var(--gradient-bg);
}

.what-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4rem 0;
	gap: 3rem;
	background-color: rgb(2, 2, 48);
	padding: 2rem;
}

.what-title p {
	color: var(--color-orange);
	cursor: pointer;
}

.what-title h1 {
	max-width: 36rem;
}

.what-features {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 4rem;
}

@media screen and (max-width: 800px) {
	.what-features {
		flex-direction: column;
		max-width: 30rem;
	}

	.what-title {
		flex-direction: column;
		align-items: flex-start;
	}
}
