.article {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--color-blog);
	color: white;
	border: var(--color-blog) solid 1px;
}

.article:hover {
	border: white solid 1px;
}

.article-image {
	width: 100%;
	height: auto;
}

.article-image img {
	width: 100%;
	height: auto;
}

.article-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.9rem;
	padding: 1rem 1.5rem;
}

.article-content p {
	margin-bottom: 0.5rem;
	font-size: 0.7rem;
}

.article-content a {
	margin-top: 3rem;
}
