.navbar {
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	width: 100%;
	box-shadow: 0 0 0.5rem 0 black;
	z-index: 1;
	position: fixed;
	top: 0;
}

.navbar-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	color: rgb(121, 121, 248);
}

.navbar-logo img {
	width: 2rem;
}

.navbar-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;
}

.navbar-links-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	color: white;
	font-size: 0.9rem;
}

.navbar-links-container a:hover {
	color: rgb(151, 151, 247);
}

.navbar-sign {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.navbar-mobile-links-back {
	width: 100vw;
	height: 100vh;
	background: rgb(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
}

.navbar-mobile-menu {
	display: none;
}

.navbar-mobile-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	background: radial-gradient(
		circle at 3% 5%,
		rgba(0, 10, 76, 1) 0%,
		rgba(0, 4, 13, 1) 100%
	);
	width: 50%;
	height: 100vh;
	padding: 1.5rem 2rem;
	top: 0;
	right: 0;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px black;
	gap: 1rem;
}

@media screen and (max-width: 1000px) {
	.navbar-desk-links .navbar-links-container {
		display: none;
	}

	.navbar-desk-links {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	.navbar-menu {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
	}

	.navbar-mobile-menu {
		display: flex;
	}

	.navbar-mobile-menu .navbar-sign {
		display: none;
	}

	.navbar-links-container {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 2rem;
		font-size: 1.2rem;
	}

	.navbar-sign {
		width: 100%;
		justify-content: flex-end;
	}
}

@media screen and (max-width: 550px) {
	.navbar-menu {
		display: flex;
	}

	.navbar-desk-links .navbar-sign {
		display: none;
	}

	.navbar-mobile-menu .navbar-sign {
		display: flex;
	}

	.navbar-sign {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-mobile-links {
		width: 18rem;
	}
}
