* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background: var(--color-bg);
}

a {
	color: unset;
	text-decoration: none;
}

:root {
	font-size: 18px;

	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

	--gradient-text: radial-gradient(
		circle at 0% 3%,
		rgba(219, 92, 227, 1) 0%,
		rgba(230, 79, 48, 1) 100%
	);

	--gradient-bar: linear-gradient(103.22deg, green -13.86%, blue 1.844);

	--color-bg: black;
	--color-footer: rgb(1, 1, 44);
	--color-blog: rgb(6, 6, 83);
	--color-text: rgb(24, 189, 245);
	--color-orange: rgb(250, 78, 10);
}

.gradient__bg {
	/* global 92%+ browsers support */
	background: radial-gradient(
		circle at 0% 0%,
		rgba(27, 2, 157, 1) 0%,
		rgba(0, 2, 23, 0.93) 100%
	);
}

.gradient__secondary {
	/* global 92%+ browsers support */
	background: radial-gradient(
		circle at 5% 8%,
		rgba(21, 3, 110, 1) 0%,
		rgba(23, 0, 23, 0.96) 100%
	);
}

.gradient__text {
	background: var(--gradient-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section__padding {
	padding: 4rem 6rem;
}

.section__margin {
	margin: 4rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@media screen and (max-width: 1000px) {
	:root {
		font-size: 16px;
	}

	.section__padding {
		padding: 4rem;
	}

	.section__margin {
		margin: 4rem;
	}
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 14px;
	}

	.section__padding {
		padding: 4rem 3rem;
	}

	.section__margin {
		margin: 4rem 3rem;
	}
}

@media screen and (max-width: 550px) {
	.section__padding {
		padding: 4rem 2rem;
	}

	.section__margin {
		margin: 4rem 2rem;
	}
}
