:root {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

	--gradient-text: radial-gradient(
		circle at 9% 9%,
		rgba(223, 182, 223, 1) 0%,
		rgba(119, 66, 150, 1) 100%
	);
	--gradient-bar: linear-gradient(103.22deg, green -13.86%, blue 1.844);

	--color-bg: black;
	--color-footer: rgb(0, 0, 5);
	--color-blog: rgb(44, 44, 150);
	--color-text: rgb(24, 189, 245);
	--color-subtext: rgb(251, 166, 129);
	--color-orange: rgb(250, 78, 10);
}
